body,input,textarea,select,option{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    font-size: 14px;
}
.bg{
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    padding-top: 0;
    background-size: content;
    background-color: #eed;
}
.left{
    width: 170px;
    height: 30px;
    float: left;
    text-align: right;
    line-height: 30px;
    margin: 10px 0;
    padding-right: 30px;
    color: purple;
}
.notice {
    width: 150px;
    height: 30px;
    float: left;
    font-size: 11px;
    line-height: 13px;
    color:red;
   
}
.right {
    width: 220px;
    height: 30px;
    float: left;
    margin: 10px 0;
    line-height: 30px;
}
fieldset{
    border:1px solid #555;
    margin-bottom: 20px;
}
label{
    color: #fff;
}
