table,td,th{
   border: 1px solid grey;
  
}


th.caption1{
    width: 120px;
    text-align: center;
    background-color: #c0c0c0;
}

th.caption2{
    width: 80px;
    text-align: center;
    background-color: #c0c0c0;
}
td.value{
    text-align: center;
}
td.button{
    text-align: center;
}
