body {
    background: whitesmoke;
    font: 12px Arial,ו;
}
a:link, a:visited {
    text-decoration: none;
    color: #888;
}

#wrapper {
    width: 300px;
    text-align: left;
}
.tit {
    width:100%;
    height: 24px;
    background: url(titbg.gif);
}
.tit h3 {
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    font-size: 12px;
    text-indent: 30px;
    background: url(titbg.gif) no-repeat 3% 5%;
}
.list {
    width:298px    !important;
    width:300px;
    float:left;
    border: 1px solid #D8D8D8;
    border-top: 0px;
}
ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
}

ul li {
    float:left;
    line-height: :20px;
    width: 45%;
    margin: 0px 5px;
    background: url(sidebottom.gif) repeat-x 0 bottom;
}
ul a {
    padding-left: 12px;
    background: url(bullet.gif) no-repeat 0 50%;
}
ul a:hover {
    text-decoration: underline;
    color:#ff0000;
}
